
html {
    font-size:62.5%;
}
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
input {
    border: none;
}
body {
    width: 37.5rem;
}.change_password_wrap {
     box-sizing: border-box;
     padding-top: 1.4917rem;
     width: 100%;
     overflow: hidden;
     position: relative;
     display: flex;
     flex-direction: column;
     background-color: #ffffff;
 }
.change_password_wrap .change_password_title_wrap {
    padding: 1rem 0rem 1rem 0rem;
    margin: 0rem 16.6rem 1.4rem 1.375rem;
    width: calc(100% - 17.975rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.change_password_wrap .change_password_title_wrap .icon_arrow_left {
    width: 1.7165rem;
    height: 2.9167rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    position: absolute;
}
.change_password_wrap .change_password_title_wrap .change_password_title {
    margin-left: 10rem;
    display: flex;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    position: relative;
}
.change_password_wrap .change_password_divi_line {
    margin-bottom: 2.75rem;
    width: 38.7rem;
    height: 0.1rem;
    background-color: #646464;
    flex-shrink: 0;
}
.change_password_wrap .change_password_sub_title_1 {
    margin-left: 2.6rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #1e1e1e;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password {
    box-sizing: border-box;
    padding: 0.25rem 2.3rem 40.6rem 2.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password .input_present_password {
    margin: 0rem 0.1rem 1.55rem 0.3rem;
    width: calc(100% - 0.4rem);
    height: 4rem;
    background-color: #ffffff;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password .change_password_sub_title_2 {
    margin: 0rem 0rem 0.25rem 0.2rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #1e1e1e;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password .presentMemberPassword {
    margin: 0rem 0.1rem 1.55rem 0.3rem;
    box-sizing: border-box;
    padding: 1.15rem 1.4rem;
    width: calc(100% - 0.4rem);
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #646464;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #646464;
    background-color: #ffffff;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password .change_password_sub_title_3 {
    margin: 0rem 0rem 0.45rem 0.1rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #1e1e1e;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password .change_password_form_input_3 {
    margin: 0rem 0rem 0.45rem 0.3rem;
    width: 32.6rem;
    height: 4rem;
    background-color: #ffffff;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password .newMemberPassword {
    margin: 0rem 0.1rem 1.55rem 0.3rem;
    box-sizing: border-box;
    padding: 1.15rem 1.4rem;
    width: calc(100% - 0.4rem);
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #646464;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #646464;
    background-color: #ffffff;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password .checkNewMemberPassword {
    margin: 0rem 0.1rem 1.55rem 0.3rem;
    box-sizing: border-box;
    padding: 1.15rem 1.4rem;
    width: calc(100% - 0.4rem);
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #646464;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #646464;
    background-color: #ffffff;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password .change_password_message {
    margin: 0rem 0rem 2.65rem 1.1rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #e40000;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password .change_password_complete {
    width: 32.7rem;
    height: 5rem;
    margin-top: 2rem;
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #393c88;
    border-radius: 1rem;
    flex-shrink: 0;
}
.change_password_wrap .input_change_password .change_password_next {
    width: 32.7rem;
    height: 5rem;
    margin-top: 1.5rem;
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    border-radius: 1rem;
    flex-shrink: 0;
}
