
html {
    font-size:62.5%;
}
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
input {
    border: none;
}
body {
    width: 24.8rem;
}.mainnavimenulogout-uTR {
     box-sizing: border-box;
     padding: 12.35rem 0rem 51.15rem 0rem;
     width: 100%;
     overflow: hidden;
     position: relative;
     display: flex;
     flex-direction: column;
     background-color: #ffffff;
 }
.mainnavimenulogout-uTR .auto-group-oeqh-2Y3 {
    margin: 0rem 8.725rem 3.15rem 2.2rem;
    width: calc(100% - 10.925rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.mainnavimenulogout-uTR .auto-group-oeqh-2Y3 .item--A8T {
    margin-right: 5.349rem;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.mainnavimenulogout-uTR .auto-group-oeqh-2Y3 .ic-sharp-arrow-back-ios-new-fqu {
    margin-bottom: 0rem;
    width: 1.226rem;
    height: 2.0833rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.mainnavimenulogout-uTR .line-3-bDm {
    margin: 0rem 0.1rem 3.05rem 0rem;
    width: calc(100% - 0.1rem);
    height: 0.1rem;
    background-color: #646464;
    flex-shrink: 0;
}
.mainnavimenulogout-uTR .my-plan-7xo {
    margin: 0rem 0rem 2.9rem 2.2rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.mainnavimenulogout-uTR .item--qdu {
    margin-left: 2.2rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
