
html {
    font-size:62.5%;
}
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
input {
    border: none;
}
body {
    width: 25rem;
}.check_popup_wrap {
     display: none;
     z-index: 1000;
     box-sizing: border-box;
     width: 70%;
     overflow: hidden;
     position: absolute;
     align-items: center;
     display: flex;
     flex-direction: column;
     border: solid 0.1rem #000000;
     background-color: #ffffff;
 }
.check_popup_wrap .check_popup_message {
    padding: 4.5rem 3.0rem 4.5rem 3.0rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #000000;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: normal;
    flex-shrink: 0;
}
.check_popup_wrap .check_popup_btn {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.check_popup_wrap .check_popup_btn .check_popup_btn_cancel {
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #646464;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    flex-shrink: 0;
}
.check_popup_wrap .check_popup_btn .check_popup_btn_ok {
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #393c88;
    flex-shrink: 0;
}
