
html {
    font-size:62.5%;
}
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
input {
    border: none;
}
body {
    width: 100%;
}.myplanlist_wrap {
     box-sizing: border-box;
     padding-top: 1.3rem;
     width: 100%;
     overflow: hidden;
     position: relative;
     align-items: center;
     display: flex;
     flex-direction: column;
     background-color: #ffffff;
 }
.myplanlist_wrap .myplanlist_title_wrap {
    margin: 0rem 0.792rem 1.492rem 1.375rem;
    width: calc(100% - 2.1667rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_title_wrap .icon_arrow_left {
    margin: 0.192rem 10.809rem 0rem 0rem;
    width: 1.7165rem;
    height: 2.9167rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_title_wrap .myplanlist_title {
    margin: 0rem 11.092rem 0.108rem 0rem;
    display: flex;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_title_wrap .icon_plus_rectangle {
    margin-bottom: 0.0083rem;
    width: 2.9167rem;
    height: 2.9167rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_divi_line {
    width: 38.7rem;
    height: 0.1rem;
    background-color: #646464;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_empty_item_wrap {
    margin-bottom: 1.2rem;
    box-sizing: border-box;
    padding: 2.8rem 6rem 2.9rem 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #393c88;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;;
    align-items: center;
}
.myplanlist_wrap .myplanlist_list_wrap {
    box-sizing: border-box;
    padding: 1.9rem 1.8rem 48.5rem 1.4rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap {
    margin-bottom: 1.2rem;
    box-sizing: border-box;
    padding: 0.769rem 1.394rem 1.15rem 0.9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #393c88;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_empty_item_wrap .icon_plus_circle {
    margin-top: 0.7rem;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    display: flex;
    white-space: nowrap;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_empty_item_wrap .empty_item_text {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3625;
    color: #656565;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap .myplanlist_item_title_wrap {
    width: 30rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap .myplanlist_item_title_wrap .myplanlist_item_title {
    width: 100%;
    margin-right: 1.5rem;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap .myplanlist_item_title_wrap .icon_dot_menu {
    width: 0.3125rem;
    height: 1.5625rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap .myplanlist_item_desc {
    margin-bottom: 0.95rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #1e1e1e;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap .myplanlist_item_address_wrap {
    margin: 0rem 27.606rem 0.15rem 0rem;
    width: calc(100% - 27.6063rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap .myplanlist_item_address_wrap .icon_location {
    margin-right: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap .myplanlist_item_address_wrap .myplanlist_plan_location {
    margin-top: 0.15rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #1e1e1e;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap .myplanlist_plan_period_wrap {
    margin-right: 22.3063rem;
    width: calc(100% - 22.3063rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap .myplanlist_plan_period_wrap .icon_calendar {
    margin-right: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.myplanlist_wrap .myplanlist_list_wrap .myplanlist_plan_item_wrap .myplanlist_plan_period_wrap .myplanlist_plan_period {
    margin-top: 0.05rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #1e1e1e;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}