html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: 100%;
}

.searchplan_wrap {
    box-sizing: border-box;
    padding-top: 1.4rem;
    width: 100%;
    overflow: hidden;
    position: static;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.searchplan_wrap .input_search_wrap {
    margin: 0rem 2.117rem 1.3rem 1.375rem;
    width: calc(100% - 3.4917rem);
    height: 4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.searchplan_wrap .input_search_wrap .icon_arrow_left {
    margin: 0rem 1.709rem 0.9rem 0rem;
    width: 1.7165rem;
    height: 2.9167rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.searchplan_wrap .input_search_wrap .input_search {
    margin-right: 1.05rem;
    box-sizing: border-box;
    padding: 0.9rem 1.8rem;
    width: 80%;
    height: 100%;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #646464;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #eeeded;
    border-radius: 1rem;
    flex-shrink: 0;
}

.searchplan_wrap .input_search_wrap .icon_search {
    margin-bottom: 0.3438rem;
    width: 2.1333rem;
    height: 2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    position: absolute;
    right: 2rem;
}

.searchplan_wrap .searchplan_tab_menu {
    width: 100%;
    height: 4.6rem;
    position: static;
    float: right;
    display: flex;
}

.searchplan_wrap .searchplan_tab_menu .tab_menu_text {
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.05rem #50555C;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 0.5rem 0.5rem 0 0;
    flex-shrink: 0;
}

.searchplan_wrap .searchplan_tab_menu .tab_menu_attribute {
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border-bottom: solid 0.05rem #50555C;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 0.5rem 0.5rem 0 0;
    flex-shrink: 0;
}

.searchplan_wrap .searchplan_contents_text_wrap {
    width: 100%;
    padding: 2rem;
    position: static;
    margin-top: 3rem;
    align-items: center;
}

.searchplan_wrap .searchplan_contents_text_wrap .recommend_word_title {
    display: flex;
    position: static;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #1e1e1e;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
}

.searchplan_wrap .searchplan_contents_text_wrap .recommend_word_wrap {
    margin: 0.5rem 9rem 4rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.searchplan_wrap .searchplan_contents_text_wrap .recommend_word_wrap .recommend_word {
    margin: 0 1rem 0 0;
    padding: 0.8rem 1rem 0.8rem 1rem;
    display: flex;
    position: static;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    border-radius: 2rem;
    flex-shrink: 0;
}

.searchplan_wrap .searchplan_contents_text_wrap .popular_hashtag_title {
    margin: 0rem 0rem 0.7rem 0.8rem;
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #1e1e1e;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.searchplan_wrap .searchplan_contents_text_wrap .popular_hashtag_wrap {
    width: 100%;
    position: static;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    overflow: scroll;
}

.searchplan_wrap .searchplan_contents_text_wrap .popular_hashtag_wrap .popular_hashtag {
    margin: 0 1rem 0 0;
    padding: 0.8rem 1rem 0.8rem 1rem;
    display: flex;
    position: static;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    border-radius: 2rem;
    flex-shrink: 0;
}

.tab_select {
    background-color: #ffffff !important;
    border: solid 0.05rem #50555C;
    border-bottom: solid 0.1rem #ffffff !important;
}

.searchplan_wrap .searchplan_contents_attribute_wrap {
    width: 100%;
    position: static;
    display: block;
    font-family: Noto Sans, 'Source Sans Pro';
    margin-top: 2rem;
}

.searchplan_wrap .searchplan_contents_attribute_wrap .searchplan_choice_sub_title_wrap {
    width: 100%;
    height: 3rem;
    position: static;
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #000000;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    vertical-align: center;
}

.searchplan_wrap .searchplan_contents_attribute_wrap .searchplan_choice_sub_title_wrap .searchplan_sub_title_choice {
    width: 100%;
    margin-left: 2.2rem;
    position: static;
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #000000;
    font-family: Noto Sans, 'Source Sans Pro';
    align-items: center;
}

.searchplan_wrap .searchplan_choice_wrap .icon_arrow_up {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    position: absolute;
    right: 2rem;
}

.searchplan_wrap .searchplan_save {
    width: 100%;
    height: 5rem;
    position: absolute;
    left: 0;
    top: 95.1rem;
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #393c88;
}

.searchplan_wrap .searchplan_trip_theme_wrap .plan_theme_item_list {
    box-sizing: border-box;
    padding: 0 2rem 0 2rem;
    width: 100%;
    margin-top: 1.5rem;
    position: static;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: normal;
}

.searchplan_wrap .searchplan_trip_theme_wrap .plan_theme_item_list .plan_theme_item_list_group {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    white-space: normal;
    word-break: break-all;
    flex-wrap: wrap;
}

.searchplan_wrap .searchplan_choice_wrap .icon_arrow_down {
    width: 2rem;
    height: 3rem;
    object-fit: contain;
    flex-shrink: 0;
    position: absolute;
    right: 2rem;
}

.searchplan_wrap .searchplan_input_default_wrap {
    box-sizing: border-box;
    padding: 1.5rem;
    width: 100%;
    position: static;
    left: 0;
}

.searchplan_wrap .searchplan_input_default_wrap .attribute_gender_wrap {
    margin: 0rem 0rem 0.883rem 0.1rem;
    width: calc(100% - 0.1rem);
    display: flex;
    align-items: flex-start;
}

.searchplan_sub_title {
    padding: 1rem 0 1rem 0;
    margin-bottom: 0.2rem;
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #1e1e1e;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
}

.searchplan_input_default_wrap .searchplan_address_list {
    width: 100%;
    height: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    position: static;
    display: flex;
    align-items: center;
}

.searchplan_choice_wrap {
    box-sizing: border-box;
    padding: 1rem 1.5rem 2rem 1.5rem;
    width: 100%;
    position: static;
    left: 0;
}

.searchplan_trip_address .select_address_wrap {
    width: 100%;
    position: static;
    margin-bottom: 0.5rem;
}

.searchplan_trip_address .select_address_wrap .label_selectbox_title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.select_option {
    width: 13rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0 1rem 1rem 5rem;
    position: absolute;
    right: 1.5rem;
}

.period_choice_wrap .select_option {
    width: 13rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0 1rem 1rem 5rem;
    position: static;
    right: 1.5rem;
}

.searchplan_trip_address #select_address_btn {
    width: 6rem;
    height: 3rem;
    margin: 1.5rem 0 1rem 0;
    display: flex;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #393c88;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.searchplan_divi_line {
    width: 100%;
    height: 0.1rem;
    background-color: #646464;
    flex-shrink: 0;
}

input[id*="plan_theme_item"]+label {
    cursor: pointer;
    padding: 0.3rem 2rem 0.3rem 2rem;
    margin-bottom: 1rem;
    height: 100%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #000000;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #393c88;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

input[id*="plan_theme_item"]:checked+label {
    background-color: #B7E1DC;
}

.attribute_age_wrap .attribute_age_line1 {
    margin: 0rem 1.692rem 1rem 0.9rem;
    width: calc(100% - 2.5917rem);
    display: flex;
    column-gap: 1rem;
    align-items: flex-start;
    flex-shrink: 0;
}

.attribute_age_wrap .attribute_age_line2 {
    margin: 0rem 1.592rem 3.3rem 1rem;
    width: calc(100% - 2.5917rem);
    display: flex;
    column-gap: 1rem;
    align-items: flex-start;
    flex-shrink: 0;
}

.attribute_gender_wrap .btn-toggle {
    margin-top: 0.05rem;
    box-sizing: border-box;
    width: 12rem;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #eeeded;
    border-radius: 0.5rem;
    flex-shrink: 0;
    position: absolute;
    right: 2rem;
}
.attribute_gender_wrap .btn-toggle .btn-default {
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #646464;
    box-sizing: border-box;
    background-color: #eeeded;
    border-radius: 0.5rem;
    flex-shrink: 0;
}
.attribute_gender_wrap .btn-toggle .btn-primary {
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3625;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #646464;
    box-sizing: border-box;
    background-color: #eeeded;
    background-color: #eeeded;
    border-radius: 0.5rem;
    flex-shrink: 0;
}
.attribute_gender_wrap .btn-toggle .active {
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0rem ;
    border-radius: 0.5rem;
    background-color: #eeeded;
    flex-shrink: 0;
}

.attribute_personnel_wrap {
    position: static;
    display: flex;
}

.attribute_personnel {
    position: absolute;
    display: flex;
    right: 2rem;
}

.attribute_personnel .icon_minus {
    width: 2.5rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.attribute_personnel .input_personnel {
    width: 3rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #000000;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0 1rem 0 1rem;
    text-align: center;
}

.attribute_personnel .icon_plus {
    width: 2.5rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.attribute_trip_address_wrap {
    width: 100%;
    height: 3.6rem;
    position: static;
    margin: 1rem;
    border: 1rem;
    display: flex;
    align-items: center;
}

.attribute_trip_address_wrap .attribute_trip_address_btn {
    margin: 0.1rem 2.1rem 0rem 0rem;
    width: 15.5rem;
    height: 3.5rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #393c88;
    border-radius: 0.5rem;
    flex-shrink: 0;
}
.attribute_trip_address_wrap .attribute_spot_btn {
    margin-bottom: 0.1rem;
    width: 15.5rem;
    height: 3.5rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #393c88;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.period_choice {
    position: static;
    display: flex;
}

.period_choice .searchplan_period {
    margin: 1rem 7.8rem 0 0;
    width: 9rem;
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #212352;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #b7e1dc;
    border-radius: 1rem;
    flex-shrink: 0;
    text-align: center;
}

input[id*="plan_theme_item"] + label {
    cursor: pointer;
    padding: 0.3rem 2rem 0.3rem 2rem;
    margin-bottom: 1rem;
    height: 100%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #000000;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #393c88;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

input[id*="plan_theme_item"]:checked + label {
    background-color: #B7E1DC;
}

input[id*="attribute_age"] + label {
    margin-top: 0.1rem;
    width: 10rem;
    height: 3rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3625;
    color: #000000;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #393c88;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

input[id*="attribute_age"]:checked + label {
    background-color: #B7E1DC;
}